[Unit]
Description=Garbage collect UCloud sandbox private Docker registry
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
Environment=UCLOUD_REGISTRY_IMAGE=registry:2
Environment=UCLOUD_REGISTRY_DATA_DIR=/work/ucloud-sandbox-registry/docker-registry
EnvironmentFile=-/etc/ucloud-sandboxes/registry.env
ExecStartPre=/usr/bin/systemctl stop ucloud-sandbox-registry.service
ExecStart=/usr/bin/docker run --rm -v ${UCLOUD_REGISTRY_DATA_DIR}:/var/lib/registry ${UCLOUD_REGISTRY_IMAGE} garbage-collect --delete-untagged /etc/docker/registry/config.yml
ExecStartPost=/usr/bin/systemctl start ucloud-sandbox-registry.service
