[Unit]
Description=UCloud Sandbox autoscaler
After=network-online.target ucloud-sandbox-gateway.service
Wants=network-online.target

[Service]
Type=simple
User=ucloud
Group=ucloud
WorkingDirectory=/work/ucloud-sandboxes
ExecStart=/work/ucloud-sandboxes/gateway-venv/bin/ucloud-sandboxes autoscaler --config /etc/ucloud-sandboxes/deployment.json --execute
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
